
.cuby-button {
  padding: 4px 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  box-sizing: border-box;

  &.primary {
    color: white;
    background-color: rgb(52, 184, 220);
    border-color: rgb(139, 216, 237);
    &:hover {
      background-color: rgb(90, 197, 226);
    }
  }

  &:hover {
    background-color: var(--button-hover-bg-color);
  }

  &[disabled] {
    background-color: rgb(175, 175, 175);
    border: none;

    &:hover {
      background-color: rgb(175, 175, 175);
    }
  }
}
