
.cuby-welcome-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
}

.cuby-main-content {
  -webkit-app-region: drag;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;

    img {
      width: 64px;
      height: 64px;
    }

    h2 {
      font-weight: 400;
    }

  }
}

.cuby-welcome-item {
  cursor: pointer;
  margin: 8px 0px;
  display: flex;
  font-size: 15px;
  font-weight: 400;

  .icon {
    width: 16px;
  }

  .content {
    margin-left: 12px;
  }
}

.cuby-file-list {
  flex: 0;
  min-width: 280px;
  height: 100%;
  background-color: var(--app-sidebar-bg-color);
  position: relative; 
  overflow-y: scroll;
}

.cuby-file-list-empty-placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  .icon {
    svg {
      transform: scale(2);
    }
    margin-bottom: 20px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cuby-file-scroll {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.cuby-file-scroll-relative {
  position: relative;
  padding: 12px;
}

.cuby-file-list-item {
  border-radius: 8px;
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 100%;
    margin-right: 4px;

    svg {
      transform: scale(1.8);

      path {
        fill: rgb(68, 68, 68);
      }
    }
  }

  .detail {
    flex: 1;
    padding-right: 12px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .title {
    font-size: 14px;
    margin-bottom: 4px;
    position: relative;
    width: 100%;
    height: 18px;
  }

  .path {
    color: var(--app-gray-color);
    font-size: 12px;
    position: relative;
    width: 100%;
    height: 16px;
  }

  .content {
    position: absolute;
    width: 100%;;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  &.selected {
    background-color: #FF993A;

    .content {
      color:  white;
    }
  }
}